/* src/components/HomePage.css */
.home-page {
  font-family: 'Arial', sans-serif;
  text-align: center;
}

header {
  background-color: #4285f4;
  padding: 20px;
  color: white;
}

main {
  padding: 20px;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between; 
}

.classroom-info {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.classroom-info p {
  margin: 8px 0;
}

.classroom-info strong {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.classrooms-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.classroom-item {
  flex-basis: calc(20% - 2px); 
  box-sizing: border-box; 
  padding: 10px;
  margin-bottom: 20px;
}
