/* src/components/Header/Header.css */
.header {
  background-color: #333;
  color: white;
  padding: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
  cursor: pointer;
}
.button-login{
  position: absolute;
  right: 10px;
  top: 10px;
}
.header-buttons {
  display: flex;
  align-items: center;
  padding-right: 12px;
}

button {
  margin-right: 10px;
  background-color: #4caf50;
  color: white;
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
