.post-block {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 25%;
    float: left;
    clear: both; 
    margin-right: 50px;
    margin-left: 20px;
  }

  .post-block input {
    width: 80%; 
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  p {
    text-align: justify;
    width: 90%;
    margin-left: 20px;
  }

  .centralizada {
    border: 2px solid #ccc;
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 30vh; 
    margin-right: 20px;
    width: 600px;
    background-color: #ddd;
    margin-bottom: 20px;
    border-radius: 10px;
  }
