/* src/components/SignupForm.css */
.form-container {
    max-width: 300px; /* Aumente conforme necessário */
    margin: 0 auto;
    padding: 50px; /* Ajuste o padding conforme necessário */
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input {
    width: 25%;
    padding: 12px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    justify-content: center;
    display: flex;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }

.login-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-link:hover {
  background-color: #45a049;
}

.Tentativa {
  display: flex;
  justify-content: center;
  width: 100%;
  display: flex;
  align-items: center;
}
  