/* src/components/SignupForm.css */
.form-container {
  max-width: 300px; 
  margin: 0 auto;
  padding: 50px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input {
  width: 25%;
  padding: 12px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

#teacher_box {
  display: flex;
  /* align-items: center; */
  margin-bottom: 20px;
}

#teacher_box input{
  width: 20px;
}

#teacher_box label {
  margin-left: 5px; /* Adjust this value as needed */
}


button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}

button:hover {
  background-color: #45a049;
}

select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.login-link {
  display: inline-block;
  padding: 5px 20px;
  color: black;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Tentativa {
  display: flex;
  justify-content: center;
  width: 350px;
  align-items: center;
  margin: 0 auto;
  padding: 10px; 
}

.alinha {
  margin-top: 20px;
  text-align: center;
}

